/JNDI_SessionBean_Example/remote-ejb-call/target/
/JNDI_SessionBean_Example/ejb_api/target/
/JNDI_SessionBean_Example/ejb_impl/target/
/JNDI_SessionBean_Example/ear/target/
/JNDI_SessionBean_Example/war/target/